<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

IndexIgnore *

# Redirect page errors to route system
ErrorDocument 401 /index.php/RESERVED.TEENY-401.html
ErrorDocument 403 /index.php/RESERVED.TEENY-403.html
ErrorDocument 500 /index.php/RESERVED.TEENY-500.html
ErrorDocument 501 /index.php/RESERVED.TEENY-501.html

RewriteEngine On

# Disable access to folder and redirect ./vendor/* path to "routes"
RewriteRule ^(vendor/|vendor$) index.php [L]

# Check file or folders exists
RewriteCond %{REQUEST_FILENAME} !-f

# Redirect all urls to index.php if no exits files
RewriteRule ^ index.php [L]
