<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

IndexIgnore *

# Redirect page errors to route system
ErrorDocument 401 /tenny/index.php/RESERVED.TENNY-401.html
ErrorDocument 403 /tenny/index.php/RESERVED.TENNY-403.html
ErrorDocument 500 /tenny/index.php/RESERVED.TENNY-500.html
ErrorDocument 501 /tenny/index.php/RESERVED.TENNY-501.html

RewriteEngine On

# Check file or folders exists
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Redirect all urls to index.php if no exits files/folder
RewriteRule ^ index.php [L]
